body {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.topNavColumn {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.topNavColumn .topNav {
  height: 30px;
  background-color: black;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.topNavColumn .topNav a {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.topNavColumn .horizontalLine {
  width: 60%;
  margin: 0 auto;
}
.topNavColumn .logo {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: -1.6px;
}

.bodyNavColumn {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.bodyNavColumn .bodyTopNav {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: center;
  margin-top: 1%;
}
.bodyNavColumn .bodyBotNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bodyNavColumn .bodyBotNav a {
  color: #ae9e85;
  font-size: 12px;
}
.bodyNavColumn a {
  color: black;
  text-decoration: none;
  margin-right: 8px;
}

.topBody {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
.topBody .card {
  width: 100%;
}
.topBody .container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 60%;
  border-top: 1px solid black;
  margin: 0 auto;
  text-align: center;
}
.topBody .container a {
  padding-top: 2%;
  text-decoration: none;
  font-family: serif;
  color: #ae9e85;
}
.topBody #et {
  text-decoration: underline;
  font-family: sans-serif;
}
.topBody .bottomBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  height: 36px;
  margin-top: 5%;
  margin-bottom: 3%;
}
.topBody .bottomBtn a {
  color: white;
  text-decoration: none;
}

.mainBody {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}
.mainBody .card {
  width: 49%;
  max-height: 45%;
  margin-top: 1%;
  border: 1px solid black;
}
.mainBody .container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.mainBody .container a {
  color: #ae9e85;
}
.mainBody .container p {
  font-family: serif;
  font-weight: normal;
}
.mainBody .buttonColumns {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.mainBody .buttonColumns .topBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 36px;
  margin-bottom: 3%;
}
.mainBody .buttonColumns .topBtn a {
  color: white;
  text-decoration: none;
}
.mainBody .buttonColumns .bottomBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  height: 36px;
  margin-bottom: 3%;
}
.mainBody .buttonColumns .bottomBtn a {
  color: white;
  text-decoration: none;
}

.footerBackground {
  width: 100%;
  background-image: url("../img/wall.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 2%;
}
.footerBackground .footerRow {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}
.footerBackground .footerSearch {
  display: flex;
  flex-direction: column;
}
.footerBackground .footerMidBanner {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .topNavLeft {
    display: none;
  }

  .topNavCenter {
    display: none;
  }

  .topNavRight {
    display: none;
  }

  .bodyNavColumn {
    display: none;
  }

  .mainBody {
    flex-direction: column;
    width: 200%;
  }

  .topBody {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .logo {
    text-align: center;
  }
}

/*# sourceMappingURL=output.css.map */
