$blackColor: black;

@import "mixin";

.topNavColumn {
  width: 100%;
  background-color: $blackColor;
  @include flex-col;
  .topNav {
    height: 30px;
    background-color: $blackColor;
    @include midwidth;
    @include flex-row;
    justify-content: space-between;
  }
  .horizontalLine {
    @include midwidth;
  }
  .logo {
    @include midwidth;
    display: flex; 
    justify-content: center;
  }
}//end of top nav

.bodyNavColumn {
  @include midwidth;
  @include flex-col;
  .bodyTopNav {
    @include flex-row;
    justify-content:center;
  }
  .bodyBotNav {
    @include flex-row;
    justify-content:center;
    a {
      color: #ae9e85;
    }
  }
}
