$blackColor: black;
$goldColor: #ae9e85;

@import "mixin";

body {
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.topNavColumn {
  width: 100%;
  background-color: $blackColor;
  @include flex-col;
  .topNav {
    height: 30px;
    background-color: $blackColor;
    @include midwidth;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    a {
      color: white;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
    }
  }
  .horizontalLine {
    @include midwidth;
  }
  .logo {
    @include midwidth;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: -1.6px;
  }
}//end of top nav

.bodyNavColumn {
  @include midwidth;
  @include flex-col;
  .bodyTopNav {
    @include flex-row;
    font-size: 20px;
    justify-content:center;
    margin-top: 1%;
    }
  .bodyBotNav {
    @include flex-row;
    justify-content:center;
    align-items: center;
    a {
      color: $goldColor;
      font-size: 12px
    }
  }
  a{
    color: $blackColor;
    text-decoration: none;
    margin-right: 8px;
  }
}//body NavColumn

.topBody {
  @include midwidth;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  .card {
    width: 100%;
  }
  .container {
    @include flex-col;
    max-width: 80%;
    width: 60%;
    border-top: 1px solid black;
    margin: 0 auto;
    text-align: center;
    a {
      padding-top: 2%;
      text-decoration: none;
      font-family: serif;
      color: $goldColor
    }
  }
  #et {
    text-decoration: underline;
    font-family: sans-serif;
  }
  .bottomBtn {
    @include flex-row;
    justify-content: center;
    align-items: center;
    background-color: #999999;
    height: 36px;
    margin-top: 5%;
    margin-bottom: 3%;
    a {
      color: white;
      text-decoration: none;
    }
  }
}//top body end

.mainBody {
  @include flexi;
  @include midwidth;
  .card {
    width: 49%;
    max-height: 45%;
    margin-top: 1%;
    border: 1px solid black;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    a{
      color: $goldColor
    }
    p {
      font-family: serif;
      font-weight: normal;
    }
  }
  .buttonColumns {
    @include flex-col;
    width: 70%;
    margin: 0 auto;
    .topBtn{
      @include flex-row;
      justify-content: center;
      align-items: center;
      background-color: $blackColor;
      height: 36px;
      margin-bottom: 3%;
      a {
        color: white;
        text-decoration: none;
      }
    }
    .bottomBtn {
      @include flex-row;
      justify-content: center;
      align-items: center;
      background-color: #999999;
      height: 36px;
      margin-bottom: 3%;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}//end main body

.footerBackground {
  width: 100%;
  background-image:url("../img/wall.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 2%;
  .footerRow{
    @include flex-row;
    @include midwidth;
    justify-content: space-between;
  }
  .footerSearch {
    @include flex-col;
  }
  .footerMidBanner {
    @include midwidth;
    @include flex-row;
    justify-content: space-between;
  }
  // .footerLeft {
  //   justify-content: flex-start;
  // }
  // .footerRight {
  //   justify-content: flex-end;
  // }
}

@media screen and (max-width: 700px) {
  .topNavLeft {
    display: none;
  }
  .topNavCenter {
    display: none;
  }
  .topNavRight {
    display: none;
  }
  .bodyNavColumn {
    display: none;
  }
  .mainBody {
    flex-direction: column;
    width: 200%
  }
  .topBody {
    flex-direction: column;
    align-items: center;
    width: 100%
  }
  .logo {
    text-align: center;
  }
};
